* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  background-color: #f4f4f5;
}

body > div {
  margin: auto;
}

/* CSS Toast chung  */
.toast {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
  padding: 20px 0;
  border-radius: 2px;
  margin-bottom: 10px;
  max-width: 450px;
  min-width: 400px;
  animation: InLeft ease 1s, fadeOut linear 1s 3s forwards;
}

.toast__icon {
  font-size: 24px;
  padding: 0 16px;
}

.toast__close {
  padding: 0 32px;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toast__body {
  flex-grow: 1;
}

/* Success */
.toast--success {
  border-left: 4px solid #49d565;
}

.toast--success .toast__icon {
  color: #49d565;
}

/* Info */
.toast--info .toast__icon {
  color: #2f87eb;
}

.toast--info {
  border-left: 4px solid #2f87eb;
}

/* Warning  */
.toast--warning {
  border-left: 4px solid #ffc123;
}

.toast--warning .toast__icon {
  color: #ffc123;
}

/* Error */
.toast--error {
  border-left: 4px solid #d22945;
}

.toast--error .toast__icon {
  color: #d22945;
}

/* Vị trí */
#container {
  position: fixed;
  top: 26px;
  right: 26px;
}

/* Button */
.list-button {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.btn {
  border: none;
  padding: 12px 24px;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.btn-success {
  background-color: #49d565;
}

.btn-warning {
  background-color: #ffc123;
}

.btn:hover {
  opacity: 0.7;
}

/* Animation  */
@keyframes InLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 26px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
